[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MRFcov"]
	path = MRFcov
	url = https://github.com/nicholasjclark/mrfcov
[submodule "mvgam"]
	path = mvgam
	url = https://github.com/nicholasjclark/mvgam
