[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "MRFcov"]
	path = MRFcov
	url = https://github.com/nicholasjclark/mrfcov
	shallow = true
	registered = true
